.content {
    padding: 10px;
    max-width: 600px;
    margin: 0 auto;
}

.Upload {
    margin-top: 1rem;
    padding-bottom: 1rem;
    font-size:medium;
}

.file-upload {
    width: 400px;
    /* Adjust the width as needed */
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    /* Adjust the height as needed */
}
.patient-details-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    
}

.patient-details-section label {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #333;
}

.patient-details-section input,
.patient-details-section select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}
.diagnose-button {
    background-color: rgba(13, 31, 64, 0.697);;
    color: white;
    padding: 5px 10px;
    margin-left:75px;
    margin-top:10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.diagnose-button:hover {
    background-color:rgb(79, 142, 208);
}
.file {
    color: rgba(255, 0, 0, 0.435);
    margin-top: 1rem;
}

.email-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.connect-text {
    margin-right: 10px;
    font-weight: italic;
    color:brown;

}

.email-icon-wrapper {
    position: fixed;
    bottom: 130px;
    right: 100px;
   
    width: 60px;
    height: 60px;
   
    border-radius: 50%;
    flex-direction: row;
}

.email-icon-wrapper svg {
    fill: white;
}


.common-input-field {
    width: 300px;
    height: 40px;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.common-container-style {
    margin-bottom: 10px;
    background-color: #f5f5f5;
}
.cancel {
   
    color: red;
    padding: 0px 5px;
    margin-top: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.app{
   
    border-radius: 30px;
   
}

