/* Ensure html and body take up the full height */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.dashboard-header {
    flex-shrink: 0;
    /* Prevent header from growing */
}

.main-content {
    flex-grow: 1;
    /* Allow main content to grow and fill remaining space */
    background-color:#fff;
    color: white;
    /* Add this to ensure text is visible on the black background */
    overflow: auto;
    /* Allow scrolling if content overflows */
}

.menu {
    flex-shrink: 0;
    /* Prevent menu from growing */
}

/* Adjust other styles if necessary to ensure layout works as expected */